# Minecraft server connection
MC_HOST=localhost
MC_PORT=25565
MC_USERNAME=Bot
MC_AUTH=offline
RENDER_DISTANCE=28
FLY_Y=200
GRID_STEP=160
BOT_COUNT=1
WORLD_PATH=./world
WP_DELAY=2000
CHUNK_SETTLE_TIMEOUT=15000
CHUNK_SETTLE_COOLDOWN=1500
