# Minecraft server connection
MC_HOST=localhost
MC_PORT=25565
MC_USERNAME=Bot
MC_AUTH=offline
RENDER_DISTANCE=28
FLY_Y=200
GRID_STEP=160
BOT_COUNT=1
WORLD_PATH=./world
WP_DELAY=2000
CHUNK_LOAD_TIMEOUT=300000
CHUNK_CHECK_RADIUS=1
MOVE_MODE=smooth
MOVE_STEP=32
MOVE_DELAY=150
